/* -- Global -- */

html {
   font-family: serif; 
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
}

.bubble {
    background-color: #f5f5f5;
    padding: 0.7em;
    border: solid #0a8262 2px;
    border-radius: 1em;
    width: fit-content;
    font-size: 1.5em;
    transform: translate(0.5em, -2.2em);
    font-family: 'Volkhov', serif;
    font-weight: 300;
    position: absolute;
    color: #383838;
}

.section {
    background-color: #f5f5f5;
    margin-top: 6%;
    border-radius: 0.5em;
    height: fit-content;
    opacity: 0.9;
}

/* -- Header -- */

header {
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: center;
    background-image: url(https://raw.githubusercontent.com/kriradevska/portfolio/main/style/marble.webp);
    padding: 2em;
}

.avatar {
    height: auto;
    flex-shrink: 3;
    opacity: 80%;
}


.greeting {
    flex-direction: column;  
    flex-wrap: wrap;
    flex-shrink: 1;
    text-align: center;
    padding: 4%;
}

.greeting h1 {
    color: white;
    font-size: 400%;
    background-color: #ab320d;
    padding: 2%;
    opacity: 80%;
    border-radius: 0.3em;
    font-family: 'Volkhov', serif;
}

.greeting h2 {
    font-size: 270%;
    margin-top: -0.5em;
    font-family: 'Calligraffitti', cursive;
    color: #383838;
}

.link-logo, .git-logo {
    height: 2.2em;
    width: auto;
    text-decoration: none;
    padding: 0.4em;
}

/* Breakpoints for Header */

@media only screen and (max-width: 500px) {

    .greeting h1 {
        font-size: 200%;
    }
    
    .greeting h2 {
        font-size: 135%;
    }

    header {
        flex-direction: column;
    }

    .avatar {
        max-width: 90%
    }
}

@media only screen and (min-width: 500px) and (max-width: 1000px) {
     .avatar {
        max-width: 60%
    }
    
    .greeting h1 {
        font-size: 250%;
    }
    
    .greeting h2 {
        font-size: 135%;
    }

}

@media only screen and (min-width: 2500px) {
    .avatar {
        width: 50%;
    }
    
    .greeting h1 {
        font-size: 800%;
    }
    
    .greeting h2 {
        font-size: 340%;
    }
}

/* Animation of h1*/

@keyframes bounce {
    0% {
        transform: translate(0);
    }
    10% {
        transform: translate(0, 2%);
    }
    20% {
        transform: translate(0, 5%);
    }
    30% {
        transform: translate(0, 7%);
    }
    40% {
        transform: translate(0, 9%);
    }
    50% {
        transform: translate(0, 11%);
        opacity: 1;
    }
    60% {
        transform: translate(0, 9%);
    }
    70% {
        transform: translate(0, 7%);
    }
    80% {
        transform: translate(0, 5%);
    }
    90% {
        transform: translate(0, 2%);
    }
    100% {
        transform: translate(0);
    }
}

header h1 {
    animation: bounce 10s running linear infinite;
}

/* -- About Me -- */

#about-me {
    box-shadow: -5px 5px 10px #0a8262;
}

#text {
    color: #383838;
    font-size: 1.6em;
    font-weight: 500;
    text-align: justify;
    padding: 1.3em 1em 1em 4em;
    font-family: 'Edu SA Beginner', cursive;
}

/* -- Projects -- */

#projects {
    box-shadow: -5px 5px 10px #ab320d;
}

#project img {
    max-width: 10px;
    height: auto;
}