/* -- Global -- */

html {
   font-family: serif; 
}

body {
    display: flex;
    flex-direction: column;
}

/* -- Header -- */

header {
    display: inline-flex;
    max-width: 100%;
    max-height: fit-content;
    margin: 0 2%;
    background-color: white;
}

.avatar {
    max-height: 90%;
    margin: 2em;
}
